.back-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #fff;
  color: #0b9444;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999;
}

.back-btn:hover {
  background: #e6f5ec;
}
